<!DOCTYPE html>
<html>
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
  <link rel="stylesheet" type="text/css" href="/one.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


</head>
<body>  
  <div class="topnav" id="myTopnav">
    <a href="/one" style="float: left; color: black; font-size: 30px;">STUDENT POTRAL</a>
       <div class="dropdown">
         <button class="dropbtn">PROFILE
           <i class="fa fa-caret-down"></i>
         </button>
         
       </div>
       <a href="/notes">NOTES</a>
       
       <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
     </div>